<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <script src="https://webchat-sdk.amitysolutions.com/sdk/ams_sdk.js?ts={{timestamp}}"></script>
  <script>
    ams_sdk.chat.load({

      // Channel ID generated from step above
      channelId: "6i7YHhnyxQnM3TtiY",

      // Display mode - "full_screen" or "bubble"
      mode: "bubble",

      botName: "Mind",

      botImage: "https://bn-sme-production-ap-southeast-1.s3.amazonaws.com/60dc04b2502b3c277d86c0fe/58292c1b-eebd-414a-974c-9372304585d0.png",

      token: "{{username}}",

      // Optional display name for user
      displayName: "{{name}}", 


      // Bubble setting when used in "bubble" mode
      bubble: {
        button: {
          style: "background: #00bdf8",
          
        },

        frameContainer: {
          //width: "300px", // width of frame container
          //height: "300px", // height of frame container
          header: {
            title: {
              text: 'Mind - CGS GenAI',
              style: 'color: white' 
            },
            style: 'background: #00bdf8'
          }
        },
      }
    });
  </script>
</body>

</html>
